<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
</head>
<body>
<h3>Customers</h3>
<a href="/create-customer">Create new customer</a>
<table id = "customers">
    <thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Province</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.getFirstName()}"></td>
        <td th:text="${customer.getLastName()}"></td>
        <td th:text="${customer.province.getName()}"></td>
        <td><a th:href="@{/edit-customer/{id}(id=${customer.getId()})}">Edit</a></td>
        <td><a th:href="@{/delete-customer/{id}(id=${customer.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>