<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Delete Province</h3>
<p>
    <a th:href="@{/province}">
        Back to province list
    </a>
</p>
<div id="form">
    <form th:object="${province}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <th style="float: left"><label>NameProvince:  </label></th>
                <td><label th:text="${province.getName()}"></label></td>
            </tr>
        </table>
        <input type="submit" value="Delete province">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>